<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
    <title>Viveka</title>


</head>

<body>

    <section>
        <div class="contacto">
            <p>Contacto: ejemplo@ejemplo.com</p>
        </div>
    </section>


    <header>

        <nav>

            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="comoComprar.html">¿Cómo comprar?</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>


        </nav>
    </header>
    <main>
        <div>
            <h1>
                Algunos de nuestros productos
            </h1>
        </div>


        <section>


            <div class="img_catalogo">
                <ul>

                    <li id="prod1"><img src="../assets/prod1.jpg"></ li>
                    <li id="prod2"> <img src="../assets/prod2.jpg"></ li>
                    <li id="prod3"> <img src="../assets/prod3.jpg"></ li>
                    <li id="prod4"> <img src="../assets/prod4.jpg"></ li>
                    <li id="prod5"><img src="../assets/prod5.jpg "></ li>
                    <li id="prod5"><img src="../assets/prod6.jpg "></ li>
                </ul>
            </div>


        </section>
    </main>



    <footer>

        <h4>Seguinos</h4>
        <div class="logo">
            <img src="..\assets\logoInstagram.png" alt="instagram" width="50" height="50">
            <img src="..\assets\logoFacebook.png" alt="facebook" width="50" height="50">
            <img src="..\assets\logoWhatsapp.png" alt="Whatsapp" width="50" height="50">
        </div>


    </footer>


</body>

</html>