<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css" />
    <title>Viveka</title>
</head>

<body>


    <div class="contacto">
        <p>Contacto: ejemplo@ejemplo.com</p>
    </div>

    <header>

        <nav>

            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="catalogo.html">Catálogo</a></li>
                <li><a href="comoComprar.html">¿Cómo comprar?</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>


        </nav>

    </header>

<main class="main--nosotros">
    <div  class="nosotros--titulo">
        <h1>
            Sobre Nosotras
        </h1>
    </div>

    <div class="logo" class="nosotros--image">
        <img src="../assets/nosotros.png" alt="sobre nosotras" width="250px" height="250px" class="img_responsive">
    </div>


    <section class="nosotros--descripcion" class="descripciones">

        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto odit incidunt
            error sunt, fugit eius optio
            facere omnis. Consectetur non suscipit fugit eius dicta sequi voluptates alias quisquam, accusantium
            dolorem?</p>
        <p > Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque sequi,
            debitis itaque distinctio
            placeat excepturi tempore quam? Cum, delectus eum? Deserunt modi quod a delectus similique facilis, sint
            magnam odio!</p>
    </section>

</main>
    

    <footer>

        <h4>Seguinos</h4>
        <div class="logo">
            <img src="..\assets\logoInstagram.png" alt="instagram" width="50" height="50">
            <img src="..\assets\logoFacebook.png" alt="facebook" width="50" height="50">
            <img src="..\assets\logoWhatsapp.png" alt="Whatsapp" width="50" height="50">
        </div>


    </footer>

</body>

</html>